<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>644054164446-6ojhad78f9toapfgotg8isu1em9bdl2i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.644054164446-6ojhad78f9toapfgotg8isu1em9bdl2i</string>
	<key>API_KEY</key>
	<string>AIzaSyAFtUA64IipnuLvS-H-Upt5UX-2nWT2qbU</string>
	<key>GCM_SENDER_ID</key>
	<string>644054164446</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NPSKProject.ChatAjaTest</string>
	<key>PROJECT_ID</key>
	<string>chatajatest-910a2</string>
	<key>STORAGE_BUCKET</key>
	<string>chatajatest-910a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644054164446:ios:8c273dee18aee5b48c734f</string>
	<key>DATABASE_URL</key>
	<string>https://chatajatest-910a2.firebaseio.com</string>
</dict>
</plist>